<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>829818321420-k7f2454gh1l0ntt126igr0tuuo2ata0l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.829818321420-k7f2454gh1l0ntt126igr0tuuo2ata0l</string>
	<key>API_KEY</key>
	<string>AIzaSyCkZe8aaPTh-6eYrVvLCfRu2aLsmeJEx9M</string>
	<key>GCM_SENDER_ID</key>
	<string>829818321420</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mapdonut.dev</string>
	<key>PROJECT_ID</key>
	<string>mapdonut-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>mapdonut-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:829818321420:ios:c9050f5a8b749873</string>
	<key>DATABASE_URL</key>
	<string>https://mapdonut-dev.firebaseio.com</string>
</dict>
</plist>